{% extends 'base.html' %}
{% load static %}

{% block content %} 
<div class="appointments-info">
  <div class="section">
    <div class="overlay">
      <h2>Appointments</h2>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-info">
          <div class="border-overlay">
            <img
              class="image"
              src="{% static 'images/trainer_2.jpg' %}"
              alt="Profile Image"
            />

            <h5>{{trainer.user.first_name|title}} {{trainer.user.last_name|title}}</h5>
            <h6><strong>Dog Trainer</strong></h6>

            <p><i class="fas fa-map-marker-alt"></i>{{trainer.location}}</p>
            <p><i class="fas fa-phone-alt"></i>{{trainer.user.phone}}</p>
            <p><i class="fas fa-search-dollar"></i>Ksh {{trainer.price_charge}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="header">
          <h6>Training Appointments</h6>
          <div class="indicator"></div>
        </div>

        <div class="appointments">
          <div class="appointments-layout"> 
            <div class="table-wrapper">
              <table class="fl-table">
                  <thead>
                  <tr>
                      <th>Dog Owners</th>
                      <th>Appt Date</th>
                      <th>Appt Time</th>
                      <th>Booking Date</th>
                      <th>Amount</th>
                      {% comment %} <th>Actions</th>
                      <th>Billing</th> {% endcomment %}
                  </tr>
                  </thead>

                  <tbody>
                    {% for app in appointments %}
                    <tr>
                        <td class="trainer">
                          <div class="trainer-deets">
                            {% if app.user.image %}
                            <img class="image" src={{app.user.image.url}} alt="Image">
                            {% else %}
                            <img
                              class="image"
                              src="{%static 'images/trainer_2.jpg' %}"
                              alt="Trainer Image"
                            />
                            {% endif %}
                            <p>{{app.user|title}}</p>
                          </div>
                        </td>

                        <td class="appt-date">
                          <h6>{{app.created_date| date}}</h6>
                        </td>

                        <td class="appt-time">
                          <h6>{{app.book_time}}</h6>
                        </td>

                        <td class="booking-date">
                          <h6>{{app.book_date}}</h6>
                        </td>

                        <td class="amount">
                          <h6>Ksh {{trainer.price_charge}}</h6>
                        </td>

                        {% comment %} <td class="actions">
                          <button class="btn btn-sm confirm" onclick="accept()"><i class="fas fa-check"></i>Accept</button>
                          <p class="confirm status-confirm" style='display:none' >Confirmed</p>
                          <button class="btn btn-sm cancel" onclick="cancel()"><i class="fas fa-times"></i>Cancel</button>
                          <p class="cancel status-cancel" style='display:none'>Cancelled</p>
                          
                        </td> {% endcomment %}

                  

                    </tr>
                    {% endfor %}
                  <tbody>
              </table>
            </div>       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
