{% load static %}

<div class="footer">
  <div class="footer-info">
      <!-- Site Info -->
      <div class="site-info">
        <a href="#">
          <img src="{% static 'images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
          <span class="logoName">TrainMe</span>
        </a>

        <p>Your No.1 Dog Training Website</p>
      
        <div class="socials">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>

      <!-- Dog Owner Links -->
      <div class="links">
        <h6 class="fw-bold mb-4">
          For Dog Owners
        </h6>
        <p>
          <a href="#!" class="text-reset">Search For Trainers</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Sign In</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Sign Up</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Booking</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Dog Owner Dashboard</a>
        </p>
      </div>

      <!-- Dog Trainer Links -->
      <div class="links">
        <h6 class="fw-bold mb-4">
          For Dog Trainers
        </h6>
        <p>
          <a href="#!" class="text-reset">Appointments</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Sign In</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Sign Up</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Dog Trainer Dashboard</a>
        </p>
      </div>

      <!-- Newsletter -->
      <div class="links">
        <h6 class="fw-bold mb-4">
          Newsletter
        </h6>

        <p>Subscribe To Our Newsletter To Be Updated</p>

        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Enter email"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-white my-0" type="button">SUBSCRIBE</button>
          </div>
        </form>
      </div>
  </div>

  <div class="hl"></div>

  <p class="copyright">TrainMe © 2022.  All Rights Reserved.</p>
</div>