{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Hero Section -->
  <div class="search-section">
    <div class="overlay">
        <div class="hero-info">   
            <h2>Search For A <span class="orange-txt">Professional</span> <br> Trainer And Easily Make <br> An <span class="orange-txt">Appointment </h1>
            <!-- <form class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Enter location"
               aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-white my-0" type="button">SEARCH</button>
              </div>
            </form> -->

            <div class="search">
              <form
              action="{% url 'searchPage' %}"
            >
              <i class="fas fa-map-marker-alt"></i>
              <input type="text" class="form-control" name="location" placeholder="Enter Location">
              <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>    
               
               
        </div>
    </div>
  </div>
  
  <div class="search-details" id='search-details'>
    {% if searched_location %}
    <p><strong class="bold">{{searched_location.count}}</strong> Matches Found For Dog Trainers In <span class="orange-txt">{{search_term| title}}</span></p>
    {% else %}
    <p><strong class="bold">0</strong> Matches Found For Dog Trainers In <span class="orange-txt">{{search_term| title}}</span></p>
    {% endif %}
  </div>

  <div class="search-results">
    <div class="container">
      <div class="row">
        <!-- Search Filter -->
        <div class="col-md-3">
          <p><strong>Search Filter</strong></p>
          <div class="hl"></div>

          <p class="grey">Select Gender</p>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="male" checked>
              <label class="form-check-label" for="exampleRadios1">
                Male Trainer
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
              <label class="form-check-label" for="exampleRadios1">
                Female Trainer
              </label>
            </div>
          </div>

          <p class="grey">Select Training Service</p>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required checked>
              <label class="form-check-label" for="invalidCheck2">
                Obedience Training
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Protection Training
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required checked>
              <label class="form-check-label" for="invalidCheck2">
                Behaviour Modification
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Puppy Training
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Service Training
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
              <label class="form-check-label" for="invalidCheck2">
                Agility Training
              </label>
            </div>
          </div>
        </div>
        
        <div class="col-md-8">
          {% if searched_location %}
          {% for trainer in searched_location %}
          <div class="trainer-layout">
            {% if trainer.image %}
              <img class="trainer-img" src="{{trainer.image.url}}"/>
              {% else %}
              <img class="trainer-img" src="{% static 'images/trainer_1.jpg' %}"/>
            {% endif %}

            <div class="trainer-info">
              <h5>{{trainer.user.first_name|title}} {{trainer.user.last_name|title}}</h5>
              <h6><strong>Dog Trainer</strong></h6>
              
              <div class="ratings">
                  <div class="stars">
                      <img src="{% static 'images/filled_star.png' %}"/>
                      <img src="{% static 'images/filled_star.png' %}"/>
                      <img src="{% static 'images/filled_star.png' %}"/>
                      <img src="{% static 'images/unfilled_star.png' %}"/>
                      <img src="{% static 'images/unfilled_star.png' %}"/>
                  </div>
                  <p>(10)</p>
              </div>

              <div class="more-info">
                  <img src="{% static 'images/location_image.png' %}"/>
                  <p>{{trainer.location}}</p>
              </div>

              <div class="more-info">
                  <img src="{% static 'images/time_image.png' %}"/>
                  <p>Available on Mon-Fri</p>
              </div>

              <div class="more-info">
                  <img src="{% static 'images/dollar_icon.png' %}"/>
                  <p>Ksh {{trainer.price_charge}}</p>
              </div>

              <div class="services">
                {% for service in trainer.services %}
                  <p><i class="fas fa-check"></i> {{service}}</p>
                {% endfor %}
              </div>

              <hr>

              <div class="buttons">
                {% if user.is_authenticated %}
                  <a class="orange-btn" href="/profile/trainer/{{trainer.user.id}}">
                      View Profile
                  </a>

                  <a class="outline-btn" href="/book/{{trainer.id}}">
                      Book Now
                  </a>
                  {% else %}
                  <a class="orange-btn" href="{% url 'owner_login' %}">
                    View Profile
                </a>

                <a class="outline-btn" href="{% url 'owner_login' %}">
                    Book Now
                </a>
                  {% endif %}
              </div>

          </div>
          </div>
          {% endfor %}
          {% else %}

            {% if trainers %}
            {% for trainer in trainers %}
            <div class="trainer-layout">
              
              {% if trainer.image %}
              <img class="trainer-img" src="{{trainer.image.url}}"/>
              {% else %}
              <img class="trainer-img" src="{% static 'images/trainer_1.jpg' %}"/>
              {% endif %}

              <div class="trainer-info">
                  <h5>{{trainer.user.first_name|title}} {{trainer.user.last_name|title}}</h5>
                  <h6><strong>Dog Trainer</strong></h6>
                  
                  <div class="ratings">
                      <div class="stars">
                          <img src="{% static 'images/filled_star.png' %}"/>
                          <img src="{% static 'images/filled_star.png' %}"/>
                          <img src="{% static 'images/filled_star.png' %}"/>
                          <img src="{% static 'images/unfilled_star.png' %}"/>
                          <img src="{% static 'images/unfilled_star.png' %}"/>
                      </div>
                      <p>(10)</p>
                  </div>

                  <div class="more-info">
                      <img src="{% static 'images/location_image.png' %}"/>
                      <p>{{trainer.location}}</p>
                  </div>

                  <div class="more-info">
                      <img src="{% static 'images/time_image.png' %}"/>
                      <p>Available on Mon-Fri</p>
                  </div>

                  <div class="more-info">
                      <img src="{% static 'images/dollar_icon.png' %}"/>
                      <p>Ksh {{trainer.price_charge}}</p>
                  </div>

                  <div class="services">
                    {% for service in trainer.services %}
                      <p><i class="fas fa-check"></i> {{service}}</p>
                    {% endfor %}
                  </div>

                  <hr>

                  <div class="buttons">
                    {% if user.is_authenticated %}
                      <a class="orange-btn" href="/profile/trainer/{{trainer.user.id}}">
                          View Profile
                      </a>
  
                      <a class="outline-btn" href="/book/{{trainer.id}}">
                          Book Now
                      </a>
                      {% else %}
                      <a class="orange-btn" href="{% url 'owner_login' %}">
                        View Profile
                    </a>
  
                    <a class="outline-btn" href="{% url 'owner_login' %}">
                        Book Now
                    </a>
                      {% endif %}
                  </div>

              </div>
            </div>
            {% endfor %}
            {% else %}

            <!-- <div class="trainer-layout">
              <img class="trainer-img" src="{% static 'images/trainer_1.jpg' %}"/>

              <div class="trainer-info">
                  <h5>Darren Elder</h5>
                  <h6><strong>Dog Trainer</strong></h6>
                  
                  <div class="ratings">
                      <div class="stars">
                          <img src="{% static 'images/filled_star.png' %}"/>
                          <img src="{% static 'images/filled_star.png' %}"/>
                          <img src="{% static 'images/filled_star.png' %}"/>
                          <img src="{% static 'images/unfilled_star.png' %}"/>
                          <img src="{% static 'images/unfilled_star.png' %}"/>
                      </div>
                      <p>(10)</p>
                  </div>

                  <div class="more-info">
                      <img src="{% static 'images/location_image.png' %}"/>
                      <p>Nairobi, Kenya</p>
                  </div>

                  <div class="more-info">
                      <img src="{% static 'images/time_image.png' %}"/>
                      <p>Available on Mon-Fri</p>
                  </div>

                  <div class="more-info">
                      <img src="{% static 'images/dollar_icon.png' %}"/>
                      <p>Ksh 1,000 - Ksh 3,000</p>
                  </div>

                  <div class="services">
                      <p><i class="fas fa-check"></i> Obedience Training</p>
                      <p><i class="fas fa-check"></i> Protection Training</p>
                  </div>

                  <hr>

                  <div class="buttons">
                      <a class="orange-btn" href="#">
                          View Profile
                      </a>

                      <a class="outline-btn" href="#">
                          Book Now
                      </a>
                  </div>

              </div>
            </div> -->
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}