@import url('https://fonts.googleapis.com/css2?family=Charm&family=Great+Vibes&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.profile-info .section {
  background-image: url(../images/profile_background.png);
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: center;
}

.profile-info .overlay {
  width: 100%;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.395);
}

.profile-info h2 {
  text-align: center;
  color: white;
  padding-top: 100px;
  font-weight: bold;
}

.profile-info .alert {
  position: absolute;
  border: 2px solid orange;
}

.profile-info .alert .close {
  cursor: pointer;
}

/* Trainer Info */
.profile-info .container {
  /* border: 5px solid salmon; */
  height: 100%;
}

.container .row {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.col-md-3 {
  /* border: 2px solid red; */
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  /* max-width: 350px !important; */
}

.col-md-3 .trainer-info {
  /* border: 2px solid pink; */
  margin-top: -62px;
}

.trainer-info .trainer-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.trainer-info h5 {
  font-family: 'Charm', cursive;
  text-decoration: underline;
  color: #E56A10;
  margin-top: 15px;
}

.trainer-info h6 {
  font-size: 14px;
  margin-bottom: 15px;
}

.trainer-info .hl {
  border-top: 1px solid lightgray;
  margin-top: -5px;
  margin-bottom: 10px;
}

.trainer-services {
  color: #908A8A;
  font-weight: bold;
  font-size: 14px;
}

.more-info .fas, .time, .more-info .far {
  color: #908A8A;
  margin-right: 3px;
  margin-left: 3px;
}

.email {
  font-size: 14px;
  margin-bottom: 7px;
}

.time {
  margin-top: -7px;
  margin-bottom: 0px;
}

.cash {
  margin-left: 3px;
}

.clinics {
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.clinics .div{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.clinics .clinic-info .fas {
  color: #E56A10;
}

.clinics .del-btn .fas, .hours .del-btn .fas{
  color: gray;
  padding-right: 10px;
  padding-bottom: 15px;
  transition: 0.5s;
}

.hours .del-btn .fas:hover, .clinics .del-btn .fas:hover {
  color: #E56A10;
} 

.clinics p, .hours p {
  font-size: 12px;
}

.clinics .hl {
  border-top: 2px dotted lightgray;
  width: 100%;
}

.hours {
  height: 150px;
  overflow-y: scroll;
}

.hours .div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
}

.hours .hl {
  border-top: 1px solid lightgray;
  width: 100%;
  margin-top: 0px;
}

.stats {
  font-size: 12px;
  border: 1px solid #E56A10;
  border-radius: 50px;
  padding: 5px;
  width: 70px;
  text-align: center;
  margin-top: -5px;
}

.profile-info .trainer-info .orange-btn {
  display: block;
  margin-top: 15px;
  margin-bottom: 0px;
  background-color: #E56A10;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  padding-left: 65px;
  padding-right: 65px;
}

.profile-info .trainer-info .orange-btn:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.col-md-8 {
  /* border: 2px solid blue; */
  height: 120vh;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Trainer Details Tabs */
.tabs {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FDF3EC;
  padding: 20px 30px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}

.tabs .tab-header {
  height: 40px;
  display: flex;
  align-items: center;
}

.tabs .tab-header > section{
  /* border: 2px solid red; */
  width: calc(100% / 3);
  text-align: center;
  color: #908A8A;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  padding-top: 10px;
}

.tabs .tab-header > section.active {
  color: #E56A10;
}

.tabs .tab-indicator {
  position: relative;
  width: calc(100% / 3);
  height: 3px;
  background-color: #E56A10;
  border-radius: 10px;
  margin-top: -10px;
  left: 0px;
  transition: all 500ms ease-in-out;
}

.tabs .tab-body {
  /* border: 2px solid red; */
  margin-top: 10px;
  position: relative;
  height: 100%;
  /* padding: 10px 5px; */
}

.tabs .tab-body > section {
  /* border: 2px solid blue; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 0px;
  position: absolute;
  top: -200%;
  opacity: 0;
  margin-top: 5px;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms,
    transform 500ms ease-in-out 0ms;
}

.tabs .tab-body > section.active {
  top: 0px;
  opacity: 1;
  transform: scale(1);
  margin-top: 0px;
}

.tab-body .active .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-body .active .header .hl {
  border-top: 2px solid lightgray;
  width: 35%;
  margin-top: -17px;
}

.tab-body .active .header p {
  color: #a49d9d;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}


/* Personal Details Form */
.tab-body .active .personal_details {
  /* border: 2px solid yellow; */
  width: 100%;
  height: 100%;
}

.save-btn {
  width: 100%;
  border: 0px;
  text-align: center;
  border-radius: 5px;
  background-color: #E56A10;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 7px;
}

.save-btn:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.tab-body .active form label {
  font-size: 13px;
  font-weight: 500;
}

.tab-body .form-control-file {
  background-color: #FDF3EC;
}

.owner-profile .header {
  margin-top: 10px;
}

.owner-profile .personal_details .form-group {
  margin-bottom: 20px;
}

.form-group textarea {
  width: 100%;
  font-size: 12px;
  border: 1px solid lightgray;
}

.form-group input {
  width: 100%;
  /* height: 30px; */
  border: 1px solid lightgray;
}

.form-group input, .form-group select, .form-group textarea {
  background-color: white;
}

.modal input[type="file"] {
  height: 29px;
}

input[type="file"] {
  color: black;
  font-size: 12px;
  height: 42px;
}

.form-group input:focus, .form-group select:focus , .form-group textarea:focus{
  outline: none !important;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 0 0.2rem lightgray;
}

select {
  border: 1px solid lightgray;
  width: 100%;
  height: 38px;
  border-radius: 5px;
}

select option {
  font-size: 12px;
}

/* Services Checkbox */
#id_services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#id_services div {
  width: 200px;
}

#id_services div input {
  width: 18px;
  height: 18px;
}

.more-btns {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.outline-btn {
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  background-color: white;
  color: #E56A10;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #E56A10;
}

.outline-btn:hover {
  text-decoration: none;
  color: black;
  background-color: #f8cfb2;
  box-shadow: 0 12px 16px 0 rgba(251, 173, 140, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Clinic Form */
.clinic-form {
  display: none;
}

/* Business Hours Form */
.hours-form {
  display: none;
}

.status {
  display: flex;
  gap: 10px;
}

.status p {
  font-size: 12px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #E56A10;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #E56A10;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* POSTS SECTION */
.posts .orange-btn, .reviews .orange-btn {
  display: block;
  width: 150px;
  text-align: center;
  position:absolute;
  top:20px;
  right:15px;
  background-color: #E56A10;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.posts .orange-btn:hover, .reviews .orange-btn:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.videos {
  /* border: 2px solid purple; */
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
  padding-right: 15px;
}

.video-layout {
  background-color: white;
  width: 300px;
  /* height: 400px; */
  height: auto;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.dog-layout {
  background-color: white;
  width: 200px;
  height: auto;
  border-radius: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.video-layout video{
  width: 100%;
  height: auto;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.dog-layout img {
  border-radius: 50%;
  object-fit: cover;
  width: 120px;
  height: 120px;
  margin-top: 30px;
}

.dog-layout .breed {
  font-size: 14px;
  margin-top: -15px;
}

.more-dog-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}

.more-dog-info .fas{
  color: #908A8A;
  font-size: 8px;
  margin-right: 5px;
  margin-top: -5px;
}

.dog-layout .age, .dog-layout .gender {
  font-size: 12px;
  margin-top: 0px;
  color: #908A8A;
  font-weight: bold;
  margin-top: -10px;
}

.dog-layout .orange-btn {
  position: relative;
  /* position: relative;
  display: block;
  width: 100%; */
  text-align: center;
  font-weight: bold;
  background-color: #E56A10;
  color: white;
  font-size: 14px;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  transform: translate(10%, -50%);
}

.video-layout .title, .dog-layout .title {
  text-align: center;
  color: #E56A10;
  font-size: 20px;
  font-family: "Charm", cursive;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
}

.video-layout .caption {
  font-size: 14px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.video-layout .fas {
  color: gray;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
}

/* New Post Modal */
.modal-section .modal {
  background-color: rgba(0, 0, 0, 0.436);
}

.modal-section .modal .form-group label {
  font-size: 12px;
}

.modal-section .modal .form-group input {
  border: 0px;
  width: 100%;
  font-size: 12px;
}

.modal-section .modal .form-group textarea {
  height: 4em;
  border: 0px;
}

.modal-section .modal-content {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FDF3EC;
}

.modal-section .modal-title {
  font-family: 'Poppins', cursive;
  font-weight: bold;
}

.modal-section .modal .form-control-file {
  border: 1px solid rgb(190, 189, 189);
  height: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.upload-btn {
  border: none;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background-color: #E56A10;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.upload-btn:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* REVIEWS SECTION */
.reviews-layout {
  /* border: 2px solid purple; */
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
}

.review {
  border: 2px solid #f69856a8;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
  height: auto;
}

.reviewer-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid black; */
}

.review-info {
  width: 100%;
}

.review-info h6 {
  font-size: 12px;
  color: #908A8A;
  font-weight: 600;
  margin-top: -10px;
}

.more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.review-info .description {
  font-size: 12px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 0px;
}

.review .del-btn {
  margin-top: 10px;
}

.review .del-btn .fas {
  color: gray;
  transition: 0.5s;
}

.review .del-btn .fas:hover {
  color: #E56A10;
} 


/* Profile Owner View */
.owner-view h6 {
  font-weight: bold;
  font-size: 15px;
}

.owner-view .bio-section {
  margin-top: 20px;
  margin-bottom: 40px;
}

.owner-view .bio-section .bio-info {
  background-color: white;
  width: 97%;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #a49d9d7e;
  padding: 5px;
}

.owner-view .bio-section .bio-info p {
  margin-left: 10px;
}

.owner-view .clinics-section .clinics-info {
  margin-top: 20px;
  width: 97%;
}

.owner-view .clinics-section .clinics-info p {
  font-size: 12px;
}

.owner-view .clinics-section .clinics-info .fas {
  color: #E56A10;
  margin-right: 10px;
  font-size: 16px;
  text-align: center;
}

.owner-view .clinics-section .clinics-info .hl {
  border-top: 1px dotted #a49d9d;
  margin-top: -5px;
  margin-bottom: 15px;
}

.owner-view .services-section {
  text-align: left;
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.owner-view .services-section .services-info {
  margin-top: 20px;
}

.owner-view .hours-section {
  width: 97%;
}

.owner-view .hours-section .hours-info {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #a49d9d7e;
  width: 100%;
  padding: 15px 25px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.owner-view .hours-section .hours-info p {
  font-size: 12px;
}


/* BOOKING PAGE */
.appointment-form {
  position: absolute;
  width: 100%;
  height: 350px;
  background-color: #FDF3EC;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
}

.appointment-form p {
  text-align: center;
}

.appointment-form .hl {
  border-top: 1px dotted #a49d9d;
}

.appointment-form form {
  margin-top: 20px;
}

.appointment-form form label {
  font-size: 13px;
  font-weight: 500;
}

/* PROFILE APPOINTMENTS SECTION */
.appointments-layout {
  /* border: 2px solid purple; */
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-bottom: 20px;
}

/* TABLE STYLES */
.table-wrapper{
  /* border: 2px solid red; */
  margin: 10px 10px 10px;
  box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #E56A10;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #121212;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

.trainer-deets {
  /* border: 2px solid salmon; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.trainer-deets img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.trainer-deets p {
  margin-top: 20px;
}

td h6 {
  font-size: 12px;
  margin-top: 13px;
}

.confirm {
  border: 2px solid green;
  color: green;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(221, 247, 221);
  margin-top: 15px;
}

.cancel {
  border: 2px solid red;
  color: red;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(240, 128, 128, 0.126);
  margin-top: 15px;
}

.pay-btn {
  display: block;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: #E56A10;
  width: 50px;
}

.pay-btn:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}