{% extends 'auth/base.html' %}{% load static %}{% block content%}
<div class="container-fluid">
  <div class="row">
    <div class="form">
      <h4 class="head text-center">Dog Owner Sign Up</h4>

      <form action="" method="post">
        {% csrf_token %} {{form.as_p}}

        <p>
          <span
            >Are you a dog trainer?
            <a href="/accounts/signup/trainer">Click Here</a></span
          ><span
            >Already Registered?<a href="/accounts/login/owner">Login</a></span
          >
        </p>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>

{%endblock%}
