{% extends 'base.html' %} 
{% load static %} 

{%block content%}
<div class="profile-info">
  <div class="section">
    <div class="overlay">
      {% if trainer.user.id == request.user.id %}
        <h2>My Profile Info</h2>
        {% else %}
        <h2>{{trainer.user.username}} Profile Info</h2>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="trainer-info">
          <img
            class="trainer-image"
            src="{{trainer.image.url}}"
            alt="Profile Image"
          />
          <h5>{{trainer.user.first_name | title}} {{trainer.user.last_name | title}}</h5>
          <h6><strong>Dog Trainer</strong></h6>
          <div class="ratings">
            <div class="stars">
              <img src="{% static 'images/filled_star.png' %}" />
              <img src="{% static 'images/filled_star.png' %}" />
              <img src="{% static 'images/filled_star.png' %}" />
              <img src="{% static 'images/unfilled_star.png' %}" />
              <img src="{% static 'images/unfilled_star.png' %}" />
            </div>
            <p>(10)</p>
          </div>
          <div class="more-info">
            <img src="{% static 'images/location_image.png' %}" />
            <p>{{trainer.location}}</p>
          </div>

          <div class="more-info">
            <i class="fas fa-phone-alt"></i>
            <p>{{trainer.user.phone}}</p>
          </div>

          <div class="more-info time">
            <i class="far fa-clock"></i>
            <p>Available on Mon-Fri</p>
          </div>

          <div class="more-info cash">
            <img src="{% static 'images/dollar_icon.png' %}" />
            <p>Ksh {{trainer.price_charge}}</p>
          </div>

          <div class="hl"></div>

          {% if trainer.services %}
            <p class="trainer-services">Services</p>

            <div class="services">
              {% for service in trainer.services %}
              <p><i class="fas fa-check"></i> {{service}}</p>
              {% endfor %}
            </div>
          {% endif %}
          
              {% if clinics %}
                <p class="trainer-services">Clinics</p>

                <div class="clinics">
                  {% for clinic in clinics %}
                  <div class="div">
                    <div class="clinic-info">
                      <p><i class="fas fa-clinic-medical"></i> <strong>{{clinic.clinic_name}}</strong></p>
                      <p><i class="fas fa-map-marker-alt"></i> {{clinic.clinic_location}}</p>
                    </div>
                    {% if trainer.user.id == request.user.id%}
                    <div class="del-btn">
                      <a href="/delete_clinic/{{ clinic.id }}"><i class="fas fa-trash"></i></a>
                    </div>
                    {% endif %}
                  </div>
                  <div class="hl"></div>
                  {% endfor %}
                </div>
              {% endif %}

              {% if hours %}
                <p class="trainer-services">Business Hours</p>

                <div class="hours">
                  {% for hour in hours %}
                  <div class="div">
                    <p><strong>{{hour.day}}</strong> : {{hour.start}} - {{hour.end}}</p>
                    {% if trainer.user.id == request.user.id%}
                    <div class="del-btn">
                      <a href="/delete_hour/{{ hour.id }}"><i class="fas fa-trash"></i></a>
                    </div>
                    {% endif %}
                    <!-- <div class="stats">{{hour.open_closed}}</div>                -->
                  </div>
                  <div class="hl"></div>
                  {% endfor %}
                </div>
              {% endif %}

          {% if request.user.Dog_Owner %}
          <a class="orange-btn" href="/book/{{trainer.id}}">
            Book Now
          </a>
          {% endif %}
        </div>
      </div>

      <!-- Tabs Section -->
      <div class="col-md-8">
        <div class="tabs">
          <div class="tab-header">
            <section class="active">
              <p>Profile Details</p>
            </section>

            <section>
              <p>Posts</p>
            </section>

            <section>
              <p>Reviews</p>
            </section>
          </div>

          <div class="tab-indicator"></div>

          <div class="tab-body">
            <!-- Profile Details -->
            <section class="active">
              <!-- Trainer View -->
              {% if trainer.user.id == request.user.id%}
                <div class="header">
                  <div class="hl"></div>
                  <p>Personal Information</p>
                  <div class="hl"></div>
                </div>
                
                <div>
                  <form class="personal_details" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" name="first_name" maxlength="150" id="id_first_name"  value="{{trainer.user.first_name|title}}">
                        
                      </div>
    
                      <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" name="last_name" maxlength="150" id="id_last_name" value="{{trainer.user.last_name|title}}">
                      </div>
    
                      <div class="form-group col-md-6">
                        <label>Username</label>
                        <input type="text" name="username" maxlength="150" required id="id_username" value="{{trainer.user.username}}">
                        
                      </div>
    
                      <div class="form-group col-md-6">
                        <label>Price Charge</label>
                        <input type="number" name="price_charge" value="1000" required id="id_price_charge" value="{{trainer.price_charge}}">
                        
                      </div>
    
                      <div class="form-group col-md-6">
                        <label>Phone Number</label>
                        <input type="text" name="phone" maxlength="12" required id="id_phone"value="{{trainer.user.phone}}">
                        
                      </div>

                      <div class="form-group col-md-6">
                        <label>{{tform.gender.label}}</label>
                        {{tform.gender}}
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Location</label>
                      {{tform.location}}
                    </div>

                    <div class="form-group">
                      <label>Profile Image</label>
                      <input type="file" name="image" required id="id_image">
                    </div>

                    <div class="header">
                      <div class="hl"></div>
                      <p>About Me</p>
                      <div class="hl"></div>
                    </div>

                    <div class="form-group">
                      <label>{{tform.bio.label}}</label>
                      <textarea
                        name="bio"
                        cols="40"
                        rows="2"
                        required
                        id="id_bio"
                        value="{{trainer.bio}}"
                      ></textarea>
                    </div>

                    <div class="header">
                      <div class="hl"></div>
                      <p>My Services</p>
                      <div class="hl"></div>
                    </div>

                    <div class="form-group prof-services">
                      <label>{{tform.services.label}}</label>
                      {{tform.services}}
                    </div>

                    <input type="hidden" name="form_type" value="tform" />

                    <button type="submit" class="save-btn">UPDATE PROFILE</button>
                  </form>
                </div>

                <div class="more-btns">
                  <button class="outline-btn add-clinic" onclick="showClinicForm()">ADD CLINIC</button>
                  <button class="outline-btn add-hours" onclick="showHoursForm()">ADD BUSINESS HOURS</button>
                </div>
              
                <!-- Clinic Info -->
                <div class="clinic-form">
                  <div class="header">
                    <div class="hl"></div>
                    <p>My Clinic Info</p>
                    <div class="hl"></div>
                  </div>

                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>{{cform.clinic_name.label}}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="clinic_name"
                          maxlength="50"
                          required
                          id="id_clinic_name"
                          value="Enter clinic name"
                        />
                      </div>
    
                      <div class="form-group col-md-6">
                        <label>{{cform.clinic_location.label}}</label>
                        {{cform.clinic_location}}
                      </div>
                    </div>

                    <input type="hidden" name="form_type" value="cform" />

                    <button type="submit" class="save-btn" onclick="hideClinicForm()">SAVE CLINIC</button>
                  </form>
                </div>
              
                <!-- Business Hours Info -->
                <div class="hours-form">
                  <div class="header">
                    <div class="hl"></div>
                    <p>Business Hours</p>
                    <div class="hl"></div>
                  </div>

                  <form action="" method="POST">
                    {% csrf_token %} 

                    <div class="form-group">
                      <label>Select A Working Day</label>
                      {{hform.day}}
                    </div>

                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label>Opening Hours</label>
                        {{hform.start}}
                      </div>
    
                      <div class="form-group col-md-6">
                        <label>Closing Hours</label>
                        {{hform.end}}
                      </div>
                    </div>
                    
                    <!-- <div class="form-group">
                      <label>{{hform.open_closed.label}}</label>
                      {{hform.open_closed}}
                    </div> -->

                    <div class="form-group status">
                      <label class="switch">
                        <input id="open_closed" name="open_closed" type="checkbox"  onclick="checkStatus()"/>
                        <span class="slider round"></span>
                      </label>
                      <p class="status-title">Closed</p>
                    </div>

                    <!-- {{hform.as_p}} -->
                    <input type="hidden" name="form_type" value="hform" />

                    <button type="submit" class="save-btn" onclick="hideHoursForm()">SAVE BUSINESS HOURS</button>
                  </form>
                </div>

              {% else %}

              <!-- Owner View -->
              <div class="owner-view">
                <div class="bio-section">
                  <h6>Trainer Bio</h6>

                  <div class="bio-info">
                    {% if trainer.bio %}
                      <p><small class='text-muted'>{{trainer.bio}}</small></p>
                    {% else %}
                      <p><small class='text-muted'>Trainer Has No Bio Added Yet!</small></p>
                    {% endif %}
                  </div>
                </div>

                <div class="clinics-section">
                  <h6>Clinic Information</h6>

                  <div class="clinics-info">
                    <p>
                      {% if clinics %}
                        {% for clinic in clinics %}
                          <p><i class="fas fa-clinic-medical"></i><strong>Clinic Name: </strong>{{clinic.clinic_name}}</p>
                          <p><i class="fas fa-map-marker-alt"></i><strong>      Location: </strong>{{clinic.clinic_location}}</p>
                          <div class="hl"></div>
                        {% endfor %}
                      {% else %}
                        <p><small class='text-muted'>{{trainer.user.username|title}} Has Not Yet Added Clinics!</small></p>
                      {% endif %}
                    </p>
                  </div>
                </div>

                <div class="services-section">
                  <h6>Services</h6>

                  <div class="services-info">
                    {% if trainer.services %}
                      {% for service in trainer.services %}
                      <p><i class="fas fa-check"></i><small class='text-muted'> {{service}}</small></p>
                      {% endfor %}
                    {% else %}
                      <p><small class='text-muted'>No Services yet!</small></p>
                    {% endif %}
                  </div>
                </div>

                <div class="hours-section">
                  <h6>Business Hours</h6>
                  
                  <div class="hours-info">
                    {% if hours %}
                      {% for hour in hours %}
                      <p><strong>{{hour.day}}</strong>   .................................................................................................................................................................................   {{hour.start}} - {{hour.end}}</p>
                      {% endfor %}
                    {% else %}
                      <p><small class='text-muted'>{{trainer.user.username|title}} Has Not Yet Added Business Hours!</small></p>
                    {% endif %}     
                  </div>
                </div>

              </div>
              {% endif %}
            </section>

            <!-- Posts -->
            <section class="posts">
              {% if trainer.user.id == request.user.id%}
              <a
                href=""
                class="orange-btn"
                data-toggle="modal"
                data-target="#post"
                >ADD POST</a
              >
              {% endif %}
              
              <div class="videos">
                {% if posts %} 
                    {% for post in posts %} 
                    <div class="video-layout">
                      <video controls>
                        <source src="{{post.video.url}}">
                      </video>

                      <p class="title"><strong>{{post.video_title|title}}</strong></p>
                      <p class="caption">{{post.video_caption}}</p>

                      {% if request.user.Dog_Trainer %}
                        <a href="#"><i class="fas fa-trash"></i></a>
                      {% endif %}
                    </div>

                    {% endfor %}
                
                {% else %}
                    <p><small class='text-muted'>{{trainer.user.first_name|title}} does not have a any posts added yet!</small></p>      
                {% endif %}
              </div>

            </section>

            <!-- Reviews -->
            <section class="reviews">
              {% if request.user.Dog_Owner %}
              <a
                href=""
                class="orange-btn"
                data-toggle="modal"
                data-target="#review"
                >ADD REVIEW</a
              >
              <!-- <a href="/addreview/{{trainer.id}}">Review</a> -->
              {% endif %}

              <div class="reviews-layout">        
                  {% if reviews %}
                    {% for review in reviews %}
                      <div class="review">
                        <a href="{%url 'owner_profile' review.reviewer.Dog_Owner.user.id%}">
                        {% if review.reviewer.Dog_Owner.image %}
                        <img class="reviewer-image" src={{review.reviewer.Dog_Owner.image.url}} alt="Profile Image">
                        {% else %}
                        <img
                          class="reviewer-image"
                          src="{% static 'images/trainer_3.jpg' %}"
                          alt="Profile Image"
                        />
                        {% endif %}
                      </a>
                        <div class="review-info">
                          <p><strong>{{review.reviewer|title}}</strong></p>
                          <h6>{{review.date|date}}</h6>

                          <div class="more">
                            <p class="description">{{review.description}}</p>
                            {% if review.reviewer.id == request.user.id %}
                              <div class="del-btn">
                                <a href="/delete_review/{{ review.id }}"><i class="fas fa-trash"></i></a>
                              </div>
                            {% endif %}
                          </div>
                        </div> 
                      </div>
                    {% endfor %}
                  {% else %}
                    <p>There are No Reviews yet!</p>
                  {% endif %} 
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Post Modal -->
<div class="modal-section">
  <div class="modal" id="post" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ADD A POST</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}

            <div class="form-group">
              <label>Video Title</label>
              <div class="form-control">
                {{pform.video_title}}
              </div>
            </div>

            <div class="form-group">
              <label>Video Caption</label>
              <div class="form-control">
                {{pform.video_caption}}
              </div>
            </div>

            <div class="form-group">
              <label>Upload Video</label>
              <div class="form-control">
                {{pform.video}}
              </div>
            </div>

            <input type="hidden" name="form_type" value="pform" />

            <button type="submit" class="upload-btn">SUBMIT POST</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Review Modal -->
<div class="modal-section">
  <div class="modal" id="review" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ADD A REVIEW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}

            <div class="form-group">
              <label>Review Title</label>
              <div class="form-control">
                <input type="text" name="title" maxlength="255" required id="id_title" value='Enter Title'>
              </div>
            </div>

            <div class="form-group">
              <label>Review Description</label>
              <div class="form-control">
                <textarea name="description" cols="10" rows="10" required id="id_description" value='Enter Review'></textarea>
              </div>
            </div>

            <input type="hidden" name="form_type" value="rform" />

            <button type="submit" class="upload-btn">SUBMIT REVIEW</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}